@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.dummy {
  font-family: "Lora", serif;
  font-family: "League Spartan", sans-serif;
  font-family: "Roboto", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  width: 100%;
}
.container{
    background-image: url('./assets/Image.png');
}
.title{
    font-family:"Lora", serif ;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}